html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    margin: 0;
    background-color:lightblue ;
}
p{
    margin: 0;
}
.contenedor{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    background-color: oldlace;
    border-radius: 2rem;
    text-align: center;
}
.contenido{
    width: 25rem;
    margin: 0 auto;
}
.central{
    width: 21rem;
    margin: 0 auto;
}
.titulo{
    margin: 0;
    padding: 3rem 0 3rem 0;
    font-size: 4rem;
}
.contenedor-pantalla{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 8rem;
    text-align: center;
    margin: 0 auto 3rem auto;
}
.pantalla{
    display:inline;
    text-align: center;
    margin: 0;
    font-size: 7rem;
}
.botones{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.boton{
    width: 10rem;
    height: 3.5rem;
    font-size: 2rem;
}
.indice{
    font-size: 2rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
}


